# LlamaIndex
llama-index
llama-index-llms-groq
llama-index-embeddings-google-genai
llama-index-embeddings-huggingface
# LLM / Embeddings
groq
google-genai

# Structured Output
pydantic

sentence-transformers
torch
transformers
# PDF
pypdf
reportlab

# Environment Variables
python-dotenv

# Backend
fastapi
uvicorn
python-multipart

# Frontend
streamlit

# Database
psycopg[binary]